<div style="background-image: url('../worldMap2.png');
   height: 100%;
    z-index: -1;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;">
  <div class="row">
    <div ng-class="!hasCountry() ? 'col-md-5' : 'col-md-6'" id="wordsCloud">
      <div class="col-md-offset-1">
        <h2 ng-if="hasCountry()">Words appearance in <span style="font-weight: 900">{{selectedCountry}}</span></h2>
        <h2 ng-if="!hasCountry()">Words appearance in <span style="font-weight: 900">all tweets</span></h2>
      </div>
      <word-cloud words="words" width="700" height="700" padding="5">
      </word-cloud>
    </div>
    <div ng-class="!hasCountry() ? 'col-md-5' : 'col-md-6'">
      <nvd3 options="options" data="barChartData"></nvd3>
    </div>
    <div ng-if="!hasCountry()" class="col-md-2" style="height: 740px; margin-top: 30px; margin-bottom: 30px;">
      <rzslider rz-slider-model='slider.minValue'
                rz-slider-high='slider.maxValue'
                rz-slider-options='slider.options'></rzslider>
    </div>
  </div>
  <div ng-if="hasCountry()" class="row" style="text-align: center">
    <button class="btn btn-default" ng-click="getAllTweetsWordCloud()">Get all tweets word cloud</button>
  </div>

  <!--<button ng-click="getCloud()">Get Cloud</button>-->
</div>

