<div id="container"
     style="position: relative; width: 100vw; height: 87vh; padding: 0; margin: 0; background-color: #1b4e74;"></div>

<!--838385-->
<div class="row" style="background-color: #1b4e74; height: 13vh; margin-top: -3%; padding: 0">
  <div class="col-md-12" style="background-color: #1b4e74;">
    <!--<label class="pull-left" style="color: white">Total tweets: {{counter}}</label>-->
    <!--<label class="pull-right" style="color: white">Tweets with location: {{locationCounter}}</label>-->
    <div class="row">
      <!--<div class="col-md-2" style="float: left; ">-->
      <!--<p style=" text-align: center; color: black; font-size: 14px; font-weight: bold">Tweets from database:-->
      <!--{{counterInDatabase}}</p>-->
      <!--</div>-->
      <!--<div class="col-md-2" style="float: left; ">-->
      <!--<p style=" text-align: center; color: black; font-size: 14px; font-weight: bold">New tweets:-->
      <!--{{locationCounter}}</p>-->
      <!--</div>-->
      <div style="text-align: center">
        <p style=" text-align: center; color: black; font-size: 1.5em; font-weight: bold">Total tweets: {{total}}</p>
      </div>
    </div>
    <div class="row">
      <!--<div ng-repeat="row in tweetsPerCountry" class="col-md-2" style="float: left;">-->
      <!--<p style=" text-align: center; font-weight: bold; color: black;">{{row.name}}: {{row.size}}</p>-->
      <!--</div>-->
      <span ng-repeat="row in tweetsPerCountry" class="col-md-2" style="float: left;">
        <p
          style=" text-align: center; font-weight: bold; color: black;">{{row.name}}: {{row.size}}
        </p>
      </span>
    </div>
  </div>
</div>
